<div class="block-service {{ component_class }}">
  <div class="parallax-window" data-parallax="scroll" data-image-src="{{ block_image_banner.url }}" title="{{ block_image_banner.title|replace({'-': ' ', '_': ' '}) }}"></div>
  <div class="container">
    <h2 class="block-title">{{ block_title }}</h2>
    <div class="block-service-list">
    {% for item in service_list %}
      <div class="service-item">
        <div class="service-item-inner">
          {% if item.service_url %}<a class="service-link" href="{{ item.service_url.url }}" {% if item.service_url.target %}target="_blank"{% endif %}></a>{% endif %}
          <div class="service-icon">
          {% if item.service_type == "image" %}
            <img src="{{ item.service_icon_image.url }}">
          {% else %}
            {{ item.service_icon_fa }}
          {% endif %}
          </div>
          <h3 class="service-title">{{ item.service_title }}</h3>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
